body {
  background-color: rgb(234, 234, 234);
}
body .go-top {
  position: relative;
  background-color: #212529;
  z-index: 1;
  padding: 0;
  margin: 0;
}
body .go-top .top1-button {
  position: fixed;
  background-color: transparent;
  border: 0;
  width: 4vw;
  height: 6vh;
  right: 0;
  top: 93%;
}
body .go-top .top1-button i {
  font-size: 3rem;
}
body .icono-top {
  color: #FF6600;
  text-shadow: 0 0 20px #ff6600;
}
body .barra {
  padding: 0;
  margin: 0;
}
body .barra ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 5vh;
  list-style: none;
  background-color: #1b1e21;
}
body .barra ul a {
  color: white;
  text-decoration: none;
  padding: 0 1%;
  height: 100%;
}
body .barra ul a li {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .barra ul a:hover {
  background-color: #2e3338;
}
body .principal {
  display: flex;
  flex-direction: row;
  height: 70vh;
  position: relative;
}
body .principal .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  z-index: 1;
  width: 50%;
}
body .principal .text h1 {
  color: #FF6600;
  text-shadow: 0 0 20px #ff6600;
}
body .principal .text h3 {
  color: rgb(234, 234, 234);
}
body .principal .text .boton {
  position: absolute;
  right: 62%;
  top: 60%;
}
body .principal .text .boton button {
  border: 0;
  background: linear-gradient(45deg, #ffa500, #ff6600);
  width: 9vw;
  height: 5vh;
  border-radius: 3vh;
  transition: box-shadow 0.3s;
}
body .principal .text .boton button a {
  text-decoration: none;
  color: rgb(234, 234, 234);
}
body .principal .text .boton button:hover {
  background: linear-gradient(30deg, #ffa500, #ff6600);
  box-shadow: 0 0 20px #ff6600;
}
body .principal .imagen {
  position: relative;
  width: 50%;
  height: auto;
}
body .principal .imagen img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .proyecto {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #1b1e21;
  color: #FF6600;
  width: 25%;
  border: 1px solid #FF6600;
  padding: 0 0 1% 0;
}
body .proyecto h2 {
  text-shadow: 0 0 20px #ff6600;
}
body .proyecto P {
  padding: 0 10%;
  text-align: justify;
  color: rgb(234, 234, 234);
}
body .proyecto h4 {
  padding: 0 10%;
  text-align: center;
  color: #FF6600;
}
body .proyecto ul {
  background-color: #212529;
  border: 1px solid rgb(234, 234, 234);
  align-self: center;
  padding: 0;
  width: 80%;
}
body .proyecto ul li {
  margin: 0 0 0 10%;
  font-size: 1.2rem;
  color: rgb(234, 234, 234);
}
body .proyecto ul li::marker {
  color: #FF6600;
}
body .proyecto .boton {
  align-self: center;
}
body .proyecto .boton button {
  border: 0;
  background: linear-gradient(45deg, #ffa500, #ff6600);
  width: 7vw;
  height: 4vh;
  border-radius: 3vh;
  transition: box-shadow 0.3s;
}
body .proyecto .boton button a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: rgb(234, 234, 234);
}
body .proyecto .boton button:hover {
  background: linear-gradient(30deg, #ffa500, #ff6600);
  box-shadow: 0 0 20px #ff6600;
}
body .proyect-info {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 15vh;
  bottom: 12%;
  justify-content: space-evenly;
  transform: translateX(-100%);
  opacity: 0;
  animation: aparecer 1.5s forwards;
}
@keyframes aparecer {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body .info-2 {
  left: 5%;
}
body .info-3 {
  right: 5%;
}
body .progress-bar-vertical {
  display: flex;
  flex-direction: row;
  width: 30px;
  min-height: 40vh;
  background: #d0cece;
  display: -webkit-flex;
  align-items: end;
  -webkit-align-items: end;
}
body .progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  transition: height 0.6s ease;
  background-color: #FF6600;
}
body .training {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #212529;
}
body .trainingh1 {
  padding: 8% 0 1% 0;
}
body .training-content {
  display: flex;
  flex-direction: row;
  width: 75%;
  background-color: #1b1e21;
  border: 1px solid #FF6600;
}
body .training-content .titulos {
  color: rgb(234, 234, 234);
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  width: 100%;
  padding: 2% 0 0 0;
}
body footer .social {
  width: 30%;
  display: flex;
  flex-direction: row;
  font-size: 2.2rem;
  color: rgb(234, 234, 234);
  justify-content: space-around;
}
body footer .navegacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  width: 30%;
}
body footer .navegacion a:nth-child(1) {
  padding: 0 2%;
}
body footer .navegacion a:nth-child(2) {
  padding: 0 2% 0 0;
}
body footer .navegacion a {
  color: rgb(234, 234, 234);
  text-decoration: none;
}
body footer .navegacion a:hover {
  color: #FF6600;
  text-shadow: 0 0 20px #ff6600;
}
body footer .copy {
  padding: 1% 0 0 0;
  font-size: 1rem;
  color: rgb(234, 234, 234);
}
body .fondo-claro {
  background-color: #212529;
}
body .fondo-oscuro {
  background-color: #1b1e21;
}
body .borde {
  border-bottom: 4px solid #FF6600;
}
body .links {
  color: rgb(234, 234, 234);
}
body .links:hover {
  color: #FF6600;
  text-shadow: 0 0 20px #ff6600;
}
body ::-moz-selection {
  color: #FF6600;
}
body ::selection {
  color: #FF6600;
}
body .send-button {
  border: 0;
  background: linear-gradient(45deg, #ffa500, #ff6600);
  padding: 1.5% 2%;
  border-radius: 0.375rem;
  color: rgb(234, 234, 234);
}
body .send-button:hover {
  box-shadow: 0 0 15px #ff6600;
}
body .close-button {
  background-color: gray;
  color: rgb(234, 234, 234);
  padding: 1.5% 2%;
  border-radius: 0.375rem;
  border: 0;
}
body .close-button:hover {
  box-shadow: 0 0 15px gray;
}
body .formulario {
  color: rgb(234, 234, 234);
}
body .formulario .contenido {
  border: 1px solid #FF6600;
  box-shadow: 0 0 15px #ff6600;
}

@media screen and (max-width: 768px) {
  body .principal .text {
    width: 100%;
    align-items: center;
  }
  body .principal .text .boton {
    position: static;
  }
  body .principal .text .boton button {
    width: 30vw;
    height: 6vh;
  }
  body .principal .imagen {
    display: none;
  }
  body .proyect-info {
    justify-content: flex-end;
    padding: 0 4%;
  }
  body .proyect-info .info-3 {
    display: none;
  }
  body .proyecto {
    width: 45%;
  }
  body .proyecto .boton button {
    width: 20vw;
    height: 6vh;
  }
  body .trainingh1 {
    padding: 34% 0 1% 0;
  }
  body .training-content {
    width: 85%;
  }
  body footer .navegacion {
    display: none;
  }
  body footer .social {
    font-size: 3rem;
    width: 70%;
  }
  body .go-top .top1-button {
    width: 8vw;
    height: 7vh;
    right: 6%;
    top: 90%;
  }
  body .go-top .top1-button i {
    font-size: 4rem;
  }
  body .desplegable {
    font-size: 4rem;
  }
  body .barra {
    justify-content: center;
  }
  body .barra .lista-nav {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  body .barra .lista-nav a {
    font-size: 1.5rem;
    padding: 2% 0;
  }
  body .navmini {
    color: rgb(234, 234, 234);
  }
}/*# sourceMappingURL=style.css.map */